/**

- Display footer at the bottom of the page using CSS. 
- FOOTER is wrapped in a bootstrap .container class

Issue: this solution doesn't work if the page content exceeds window height

**/

footer {
    position:absolute;
    bottom:0;
}

/***

HTML

**/

<div class='container'>
    <footer>
        ............
    </footer>
</div>
